################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/R.I.M. UI Shell/v15/Server/sqlite3
/R.I.M. UI Shell/obj/Debug
/.vs/R.I.M. UI Shell/v15
